body {
  padding-top: 50px;
  /*
  font-family: 'Cutive Mono' ;
font-family: 'Rokkitt', serif;  
  font-family: 'Rokkitt', serif;
  */


font-family: 'Special Elite', cursive;

  font-size: 16pt;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.main-content {
    margin: 10px;
}
